<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%green(%d{HH:mm:ss}) %red(%-5level) %blue([%thread]) %yellow(%logger{15}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.springframework.boot" level="WARN"/>
    <logger name="com.yourpackage" level="WARN"/>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>